@model SelectList

<div id="AssignDialog" class="dialog">    
    <h4>Assign person to ticket</h4>
    @using (Html.BeginForm("AssignPersonToTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.Hidden("TicketID")
        <div class="form-group">
            <label>Person</label>
            @Html.DropDownList("UserID", Model, new { @class = "form-control", id = "AssignAdminsList" })
        </div>

        <input id="AssignBtnOk" type="submit" class="btn " value="Ok" />
        <input id="AssignBtnCancel" type="button" class="btn" value="Cancel" />
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#AssignDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#AssignBtnCancel").click(function()
        {
            $('#AssignDialog').dialog('close');
        });

        $(".btn-assign").click(function(e)
        {
            event.stopPropagation();
            $("#TicketID").val(e.target.getAttribute("data-ticket-id"));
            $('#AssignDialog').dialog('open');
        });
    });
</script>