@using HelpDesk.Entities
@model IEnumerable<User>

<div id="AssignDialog" class="dialog">    
    <h4>Assign user to ticket <i id="AssignTicketTitle"></i></h4>
    @using (Html.BeginForm("AssignPersonToTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("AssignTicketID")
        <div class="form-group">
            <label class="control-label">User</label>
            @Html.DropDownList(
                name: "AssignUserID", 
                selectList: new SelectList(Model.Select(u => new { UserID = u.UserID, Name = $"{u.FirstName} {u.LastName}" }), "UserID", "Name", Model.Single(u => u.Email == User.Identity.Name).UserID), 
                htmlAttributes: new { @class = "form-control" }
            )
        </div>

        <input type="submit" class="btn" value="Ok" />
        <input id="AssignBtnCancel" type="button" class="btn" value="Cancel" />
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#AssignDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#AssignBtnCancel").click(function()
        {
            $('#AssignDialog').dialog('close');
        });

        $(".btn-assign").click(function(e)
        {
            event.stopPropagation();
            $("#AssignTicketID").val(e.target.getAttribute("data-ticket-id"));
            $("#AssignTicketTitle").text(e.target.getAttribute("data-ticket-title"));
            $('#AssignDialog').dialog('open');
        });
    });
</script>