<div id="close-ticket-dialog" class="dialog">
    <h4>Close ticket <i id="close-ticket-title"></i></h4>
    @using (Html.BeginForm("CloseTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CloseTicketID")

        <div class="button-group">
            <input type="submit" class="btn btn-blue" value="Ok" />
            <input id="close-ticket-btn-cancel" type="button" class="btn btn-blue" value="Cancel" />
        </div>
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#close-ticket-dialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#close-ticket-btn-cancel").click(function()
        {
            $('#close-ticket-dialog').dialog('close');
        });

        $(".close-ticket-btn").click(function(e)
        {
            event.stopPropagation();
            $("#CloseTicketID").val(e.target.getAttribute("data-ticket-id"));
            $("#close-ticket-title").text(e.target.getAttribute("data-ticket-title"));
            $('#close-ticket-dialog').dialog('open');
        });
    });
</script>