<div data-bind="visible: currentTicket()" id="close-ticket-dialog" class="dialog">
    <h4>Close ticket <i data-bind="text: currentTicket().Title"></i></h4>
    @using (Html.BeginForm("CloseTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CloseTicketID")

        <div class="button-group">
            <input type="submit" class="btn btn-blue" value="Ok" />
            <input id="close-ticket-btn-cancel" type="button" class="btn btn-blue" value="Cancel" />
        </div>
    }
</div>

