<div id="CloseDialog" class="dialog">
    <h4>Close ticket <i id="CloseTicketTitle"></i></h4>
    @using (Html.BeginForm("CloseTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("CloseTicketID")
        <input type="submit" class="btn" value="Ok" />
        <input id="CloseBtnCancel" type="button" class="btn" value="Cancel" />
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#CloseDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#CloseBtnCancel").click(function()
        {
            $('#CloseDialog').dialog('close');
        });

        $(".btn-close").click(function(e)
        {
            event.stopPropagation();
            $("#CloseTicketID").val(e.target.getAttribute("data-ticket-id"));
            $("#CloseTicketTitle").text(e.target.getAttribute("data-ticket-title"));
            $('#CloseDialog').dialog('open');
        });
    });
</script>