<div id="delete-ticket-dialog" class="dialog">
    <h4>Are you sure you want to delete ticket <i id="delete-ticket-title"></i>?</h4>

    @using (Html.BeginForm("Delete", "Tickets"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="delete-ticket-id" name="id" />
        <div class="button-group">
            <input type="submit" value="Yes" class="btn btn-blue" />
            <input type="button" value="No" class="btn btn-blue" id="delete-ticket-btn-no" />
        </div>
    }
</div>  

<script>
    $(document).ready(function()
    {
        $("#delete-ticket-dialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $(".btn-delete").click(function(e)
        {
            $('#delete-ticket-dialog').dialog('open');
            $('#delete-ticket-id').val(e.target.getAttribute("data-ticket-id"));
            $('#delete-ticket-title').text(e.target.getAttribute("data-ticket-title"));
        });

        $("#delete-ticket-btn-no").click(function()
        {
            $('#delete-ticket-dialog').dialog('close');
        });
    });
</script>