<div id="DeleteDialog">
    <p><b>Are you sure you want to delete ticket <span id="DeleteTicketTitle"></span>?</b></p>

    @using (Html.BeginForm("Delete", "Tickets"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="DeleteTicketID" name="id" />
        <input type="submit" value="Yes" class="btn btn-warning" />
        <input id="DeleteBtnNo" type="button" value="No" class="btn btn-warning" onclick="$('#deleteTicketDialog').dialog('close');" />
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#DeleteDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $(".btn-delete").mouseover(function(e)
        {
            e.target.style.backgroundColor = 'darkred';
        });

        $(".btn-delete").mouseout(function(e)
        {
            e.target.style.backgroundColor='red';
        });

        $(".btn-delete").click(function(e)
        {
            event.stopPropagation();
            var ticketID = e.target.getAttribute("data-ticket-id");
            var ticketTitle = e.target.getAttribute("data-ticket-title");
            $('#DeleteTicketID').val(ticketID);
            $('#DeleteTicketTitle').text(ticketTitle);
            $('#DeleteDialog').dialog('open');

            $("#DeleteBtnNo").click(function()
            {
                $('#DeleteDialog').dialog('close');
            });
        });
    });
</script>