<div id="FindRequestorDialog">
    <p><b>Find user by name or email:</b></p>

    <div class="form-group" style="overflow: auto">
        <input value="" id="FindRequestorInput" class="form-control pull-left" />
        <span class="pull-left">&nbsp;</span>
        <button id="find" class="btn btn-warning pull-left">Find</button>
    </div>

    <div class="form-group" style="overflow: auto">
        <select class="form-control pull-left" id="requestorsList"></select>
        <span class="pull-left">&nbsp;</span>
        <img id="progress-image" src="http://i.stack.imgur.com/r6tWv.gif" class="pull-left" style="display:none" />
    </div>

    <input id="FindRequestorBtnOk" type="button" class="btn btn-warning" value="Ok" />
    <input id="FindRequestorBtnCancel" type="button" class="btn btn-warning" value="Cancel" />

</div>
<script>
    $(document).ready(function()
    {
        $("#FindRequestorDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });        

        $("#find-requestor-btn").click(function(e)
        {
            e.preventDefault();
            $('#FindRequestorDialog').dialog('open');
        });

        $("#find").click(function(e)
        {
            e.preventDefault();
            $('#FindRequestorDialog').dialog('open');
            $("#progress-image").show();
            $.post("/Tickets/FindUsers", { search: $("#FindRequestorInput").val() }, function(data)
            {
                if (data.length == 0)
                {
                    $("#requestorsList").html("<option></option>");
                }
                else
                {
                    $("#requestorsList").html("");
                    for (var i = 0; i < data.length; i++)
                    {
                        $("#requestorsList").append("<option value=" + data[i].UserID + ">" + data[i].FirstName + " " + data[i].LastName + " (" + data[i].Email + ")</option>");
                    }
                }
                $("#progress-image").hide();
            }, "json");

        });

        $("#FindRequestorBtnOk").click(function()
        {
            if ($("#requestorsList").val() && $("#requestorsList").val() != "")
            {
                $("#RequestedByID").val($("#requestorsList").val());
                $("#requestorInp").val($("#requestorsList > option[value=" + $("#requestorsList").val() + "]").html());
                $("#FindRequestorInput").val("");
                $("#requestorsList").val("");
            }
            $('#FindRequestorDialog').dialog('close');
        });

        $("#FindRequestorBtnCancel").click(function()
        {
            $('#FindRequestorDialog').dialog('close');
        });
    });
</script>
