@model SelectList

<div id="SolveDialog" class="dialog">
    <h4>Solve ticket <i id="SolveTicketTitle"></i></h4>
    @using (Html.BeginForm("SolveTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("SolveTicketID")
        <div class="form-group">
            <label class="control-label">Solving user</label>
            @Html.DropDownList("SolveUserID", Model, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="control-label">Solution</label>
            @Html.TextArea("Solution", "", 7, 10, new { @class = "form-control" })
        </div>

        <input type="submit" class="btn" value="Ok" />
        <input id="SolveBtnCancel" type="button" class="btn" value="Cancel" />
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#SolveDialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#SolveBtnCancel").click(function()
        {
            $('#SolveDialog').dialog('close');
        });

        $(".btn-solve").click(function(e)
        {
            event.stopPropagation();
            $("#SolveTicketID").val(e.target.getAttribute("data-ticket-id"));
            $("#SolveTicketTitle").text(e.target.getAttribute("data-ticket-title"));
            $('#SolveDialog').dialog('open');            
        });
    });
</script>
