@model HelpDesk.Models.SettingsIndexViewModel

@{
    ViewBag.Title = "Settings";
}

<style>
    #sortable {
        list-style-type: none;
        display: inline-block;
        border: 3px dashed black;
        padding: 15px;
        margin: 15px;
    }
    #sortable > li {
        width: 200px;
        padding: 5px;
        margin: 3px;
        border: 2px solid gray;
        border-radius: 5px;
        background-color: #ddd;
        cursor: move;
    }
</style>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <ul id="sortable">
        <li>PC problem<input type="hidden" name="Categories2" value="1" /></li>
        <li>Network problem<input type="hidden" name="Categories2" value="2" /></li>
        <li>Monitor<input type="hidden" name="Categories2" value="3" /></li>
        <li>Return PC and accessories<input type="hidden" name="Categories2" value="4" /></li>
    </ul>
    <input type="submit" />
}

<script>
    $("#sortable").sortable();
</script>