@model HelpDesk.Models.SettingsIndexViewModel

@{
    ViewBag.Title = "Settings";
}

<style>
    #sortable {
        list-style-type: none;
        display: inline-block;
        border: 3px dashed black;
        padding: 15px;
        margin: 15px;
    }
    #sortable > li {
        /*width: 200px;*/
        padding: 5px;
        margin: 3px;
        border: 2px solid gray;
        border-radius: 5px;
        background-color: #ddd;
        cursor: move;
        overflow: auto;
    }
</style>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <ul id="sortable">
        
        <li>
            <span style="aline-height: 28px; vertical-align: -6px;  font-size: 20px;" class="glyphicon glyphicon-resize-vertical"></span>
            <input style="avertical-align: middle; width: 200px;display: inline-block !important" class="form-control" name="categoriesName" value="PC problem" />
            <input type="hidden" name="categoriesId" value="1" />
        </li>
        <li><input class="form-control" name="categoriesName" value="Network problem" /><input type="hidden" name="categoriesId" value="2" /></li>
        <li><input class="form-control" name="categoriesName" value="Monitor" /><input type="hidden" name="categoriesId" value="3" /></li>
        <li><input class="form-control" name="categoriesName" value="Return PC and accessories" /><input type="hidden" name="categoriesId" value="4" /></li>
    </ul>
    <input type="submit" />
}

<script>
    $("#sortable").sortable();
</script>