/* ----- document ----- */

html {
    height: 100%;
}
body {
    background-color: #F0F0F0;
}

/* ----- login window ----- */
.login-window h3 {
    margin: 0;
    padding: 90px 0 20px;
    text-align: center;        
}
.login-window > div {
    background-color: white;
    border: 1px solid #BBB;
    border-radius: 10px;
    box-shadow: #777 0 0 10px;
    margin: 0 auto;        
    padding: 20px;
    width: 350px;
}

/* ----- navbar ----- */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

 /* ----- header ----- */ 

header {
    background-color: #00ABEC; 
    color: white;
    margin-bottom: 40px;
    padding: 30px 0;
}
header h1 {
    margin: 0;
    text-align: center; 
}
header hr {
    border-color: #3F95C4; 
    margin: 20px 0 30px; 
    border-top-left-radius: 200px 1px; 
    border-top-right-radius: 200px 1px;
}

/* ----- search button ----- */

.form-group > div.col-md-6 {
    padding-right: 0;
    margin-right: 15px;
}
.input-with-button {
    position: relative;
    padding-right: 35px;
}
.input-with-button .btn-search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
}

/* ----- blue button ----- */

.btn-blue {
    background-color: #428bca; 
    border-color: #2D5F8A/*#428bca*/; 
}
.btn-blue, .btn-blue:hover, .btn-blue:focus {
    color: white;
}

/* ----- dialog ----- */

.dialog {
    display: none;
}
.dialog > h4 {
    margin: 0 0 20px 0;
    text-align: center;
}
.dialog > h4 > i {
    color: #666;
}
.dialog .button-group {
    text-align: center;
}

/* ----- success and fail messages ----- */

.alert {
    border-radius: 0;
    margin: 0;
}

/* ----- filtering form ----- */

#filtering-form .input-with-button + .checkbox {
    margin: 0;
}
.checkbox {
    margin-top: 5px;
}

/* ----- list of users and tickets table ----- */

.table th, .table td {
    /*border-color: #AAA !important;*/
}
.table th {
    background-color: #4694D7;
    color: white;
}
.table th a {
    color: white;
    text-decoration: underline;
}
.table tr:nth-child(2n+1) {
    background-color: #EAEAEA;
}
.table tr:nth-child(2n) {
    background-color: #E6E6E6;
}
.table tbody tr:hover {
    background-color: #F5EECD;
    cursor: pointer;
    outline: 1px solid #E3D179;
}
.table td {
    /*padding-top: 15px !important;
    padding-bottom: 15px !important;*/
    vertical-align: middle/*text-top*/ !important;
}
.table .btn {
    width: 60px;
    /*margin-bottom: 4px;*/
}
.table .btn-col {
    min-width: 204px;
}
.table .ticket-col {
    text-align: center;
}
@media (max-width: 1199px) {
    .table .btn-col {
        width: 76px;
    }
}
/*.status {
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
.status-new {
    background-color: orangered;
}
.status-in-progress {
    background-color: dodgerblue;
}
.status-solved {
    background-color: forestgreen;
}
.status-closed {
    background-color: #555;
}*/
.status {
    /*border-radius: 5px;*/
    /*font-weight: bold;*/
    /*padding: 10px;*/
}
.status-new {
    color: orangered;
}
.status-in-progress {
    color: dodgerblue;
}
.status-solved {
    color: forestgreen;
}
.status-closed {
    color: #555;
}

/* ----- content ----- */

section > hr {
    border-color: #D0D0D0/*#3F95C4*/; 
    margin: 30px 0; 
    border-top-left-radius: 200px 1px; 
    border-top-right-radius: 200px 1px;
}
section > h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* ----- footer ----- */

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 91px;
}
footer {
    background-color: #222;
    color: #EEE;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-content {
    display: table;
    margin: 0 auto;
}
.footer-group {
    display: inline-block;
    margin-right: 20px;
}
.footer-element {
    display: inline-block;
    font-size: 1.1em;
    padding: 3px;
    vertical-align: middle;
}
@media (max-width: 1000px) {    
    body {
        padding-bottom: 168px;
    }
    .footer-group {
        display: block;
    }
}
footer .glyphicon {
    background-color: #555;
    border-radius: 24px;
    padding: 10px;
}
footer .designer {
    color: #888;
    font: 11px 'Courier New';
    margin: 0;
    margin-right: 10px;
    text-align: right;
}

/* ----- validation ----- */

.validation-summary-errors > ul {
    list-style-type: none;

}

/* ----- to keep form-inline in xs  ----- */

@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .form-inline .form-group, .form-inline .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0px;    
    vertical-align: middle;
  }
}

/* ----- inverse button  ----- */

.btn-inverse {
  color: #fff;
  background-color: #555;
  border-color: #444;
}
.btn-inverse:focus,
.btn-inverse.focus {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:hover {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active:hover,
.btn-inverse.active:hover,
.open > .dropdown-toggle.btn-inverse:hover,
.btn-inverse:active:focus,
.btn-inverse.active:focus,
.open > .dropdown-toggle.btn-inverse:focus,
.btn-inverse:active.focus,
.btn-inverse.active.focus,
.open > .dropdown-toggle.btn-inverse.focus {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus {
  background-color: #555;
  border-color: #444;
}
.btn-inverse .badge {
  color: #555;
  background-color: #fff;
}


/*.navbar-inverse li.active > a {
    background-color: #00ABEC !important;
}
.navbar-inverse {
    border-bottom-color: #00ABEC !important;
}*/

/* ----- horizontal menu  ----- */

ul.horizontal-menu {
    list-style-type: none;
    margin: 10px 0 20px;
    padding: 0;
    text-align: center;
}
ul.horizontal-menu > li {
    display: inline-block;
    font-weight: bold;
    
}
ul.horizontal-menu > li > a {
    color: #428bca;
    display: block;
    margin: 0 5px;
    padding: 15px 15px;
    text-decoration: none;
}
ul.horizontal-menu > li.selected > a, ul.horizontal-menu > li > a:hover {
    border-bottom: 2px solid #428bca;
}
@media (max-width: 767px) {
    ul.horizontal-menu {
        background-color: #DDD;        
        margin-top: 0;
    }
    ul.horizontal-menu > li {
        
        display: block;        
    }
    ul.horizontal-menu > li > a {
        color: #555;
        margin: 0;
    }
    ul.horizontal-menu > li.selected > a, ul.horizontal-menu > li > a:hover {
        background-color: #555;
        border-width: 0;
        color: #DDD;
    }
}