/* ----- document ----- */

html {
    height: 100%;
}
body {
    background-color: #F0F0F0;
}
h1, p {
    margin: 0;
}
.panel {
    background-color: #F5F5F5;
    box-shadow: gray 0 0 10px;
}

/* ----- validation errors ----- */

.input-validation-error {
    border-color: #A94442;
}

/* ----- navbar ----- */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

 /* ----- header ----- */ 

body > header {
    background-color: #00AAFF; 
    color: white;
    margin-bottom: 25px;
    padding: 30px 0;
}
body > header > h1 {
    text-align: center; 
}
body > header > div > hr {
    border-color: #3F95C4; 
    margin:30px 0; 
    border-top-left-radius: 200px 1px; 
    border-top-right-radius: 200px 1px;
}

/* ----- main ----- */

body > main > .row > div > .panel {
    /*background-color: #F5F5F5;
    box-shadow: gray 0 0 10px;*/
    margin-top: 15px;
    /*padding-top: 15px;*/
}
body > main > .row > div > .panel > .panel-body > .id {
    color: gray;
    text-align: center;
}

/* ----- input with search button ----- */

.input-with-button {
    position: relative;
}
.input-with-button > input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: calc(100% - 40px);
}
.input-with-button > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

/* ----- mark searched text ----- */

mark {
    background-color: yellow;
    padding: 0.2em 0;
}

/* ----- success and fail messages ----- */

.alert {
    border-radius: 0;
    display: none;
    margin: 0;
}

/* ----- filtering form ----- */

#filtering-form .input-with-button + .checkbox {
    margin: 0;
}
.checkbox {
    margin-top: 5px;
}

/* ----- status ----- */
.status-new {
    color: orangered;
}
.status-in-progress {
    color: dodgerblue;
}
.status-solved {
    color: forestgreen;
}
.status-closed {
    color: #555;
}

/* ----- footer ----- */

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 91px;
}
footer {
    background-color: #222;
    color: #EEE;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-content {
    display: table;
    margin: 0 auto;
}
.footer-group {
    display: inline-block;
    margin-right: 20px;
}
.footer-element {
    display: inline-block;
    font-size: 1.1em;
    padding: 3px;
    vertical-align: middle;
}
@media (max-width: 1000px) {    
    body {
        padding-bottom: 168px;
    }
    .footer-group {
        display: block;
    }
}
footer .glyphicon {
    background-color: #555;
    border-radius: 24px;
    padding: 10px;
}
footer .designer {
    color: #888;
    font: 11px 'Courier New';
    margin: 0;
    margin-right: 10px;
    text-align: right;
}

/* ----- validation ----- */

.validation-summary-errors > ul {
    list-style-type: none;
}

/* ----- sorting  ----- */

.sort-by {    
    margin-bottom: 15px;
}
@media (max-width: 767px) {
  .sort-by .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .sort-by .form-group, .sort-by .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0px;    
    vertical-align: middle;
  }
}

/* ----- users list ----- */
.users-list {
    clear: both;
    margin-bottom: 15px;
}
.users-list > .panel {
    margin-bottom: 10px;
}
.users-list > .panel:hover {
    background-color: #F5EECD !important;
    cursor: pointer;
}
.users-list > .panel > .panel-body > p {
    font-size: 20px;
    margin-bottom: 5px;
}
.users-list > .panel > .panel-body > .row > div:nth-child(2), .users-list > .panel > .panel-body > .row > .col-sm-2 {
    border-left: 1px solid lightgray;
}
.users-list .category {
    color: gray;
}
.users-list .category, .users-list .value {
    font-size: 14px;
}
.users-list > .panel > .panel-body > .row > div:nth-child(3) > p:nth-child(2) {
    font-size: 16px;
    line-height: 48px; 
    vertical-align: middle; 
}
.users-list > .panel > .panel-body > .row > div:nth-child(4) > p:nth-child(2) {
    font-size: 34px;
}

/* ----- tickets list ----- */
.tickets-list {
    clear: both;
    margin: 15px 0;
}
.tickets-list > .panel {
    margin-bottom: 10px;
}
.tickets-list > .panel > .panel-body {
    display: table;
    padding: 0;
    width: 100%;
}
.tickets-list > .panel:hover {
    background-color: #F5EECD !important;
    cursor: pointer;
}
.tickets-list > .panel > .panel-body > div {
    display: table-cell;
}
.tickets-list > .panel > .panel-body > div:first-child {
    border-right: 1px dashed gray;
    text-align: center;
    vertical-align: middle;   
    width: 150px; 
}
.tickets-list > .panel > .panel-body > div:nth-child(2) {
    padding: 10px;    
}
.tickets-list > .panel > .panel-body > div:nth-child(3) {
    vertical-align: bottom;
    width: 180px; 
}
.tickets-list > .panel > .panel-body > div:nth-child(3) > button {
    width: 50px;
}
.tickets-list > .panel > .panel-body > div:nth-child(3) > button:nth-child(1) {
    margin: 10px 10px 10px 0;
}
.tickets-list > .panel > .panel-body > div:nth-child(3) > button:nth-child(2) {
    margin: 10px 3px 10px 0;
}
.tickets-list > .panel > .panel-body > div:nth-child(3) > button:nth-child(3) {
    margin: 10px 3px 10px 0;
}
.tickets-list > .panel > .panel-body > div:first-child > p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}
.tickets-list > .panel > .panel-body > div:nth-child(2) > p:first-child {
    font-size: 22px; 
    margin-bottom: 10px;
}
.tickets-list .id {
    color: gray;
}

/* ----- pagination ----- */

.pagination {
    margin: 0;
}

/* ----- inverse button  ----- */

.btn-inverse {
  color: #fff;
  background-color: #555;
  border-color: #444;
}
.btn-inverse:focus,
.btn-inverse.focus {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:hover {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active:hover,
.btn-inverse.active:hover,
.open > .dropdown-toggle.btn-inverse:hover,
.btn-inverse:active:focus,
.btn-inverse.active:focus,
.open > .dropdown-toggle.btn-inverse:focus,
.btn-inverse:active.focus,
.btn-inverse.active.focus,
.open > .dropdown-toggle.btn-inverse.focus {
  color: #fff;
  background-color: #444;
  border-color: #333;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus {
  background-color: #555;
  border-color: #444;
}
.btn-inverse .badge {
  color: #555;
  background-color: #fff;
}


/*.navbar-inverse li.active > a {
    background-color: #00ABEC !important;
}
.navbar-inverse {
    border-bottom-color: #00ABEC !important;
}*/

/* ----- horizontal menu  ----- */

nav.horizontal-menu {
    text-align: center;
}
nav.horizontal-menu > a {
    display: inline-block;
    font-weight: bold;
    margin: 0px 0;
    padding: 10px 15px;
    text-decoration: none;
}    nav.horizontal-menu > a.selected, nav.horizontal-menu > a:hover {
    border-bottom: 2px solid #428bca;
}

/* ----- mobile horizontal menu  ----- */

nav.horizontal-menu-xs {
    text-align: center;
}
nav.horizontal-menu-xs > a {
    display: inline-block;
    width: 25%;
}