<script>
    function UsersViewModel()
    {
        var self = this;

        self.users = ko.observableArray([]);
        self.sortingOptions = ko.observableArray(["First name", "Last name", "Email", "Phone", "Mobile phone", "Company", "Department", "Role", "Tickets"]);

        self.numberOfPages = ko.observable();
        self.pages = ko.computed(function()
        {
            var pages = [];
            for (var i = 1; i <= self.numberOfPages(); i++)
                pages.push(i);
            return pages;
        });        

        self.filter =
        {
            search: ko.observable(),
            sortBy: ko.observable("Last name"),
            descSort: ko.observable(false),
            page: ko.observable(1)
        };

        self.getUsers = function()
        {
            $.ajax("/api/Users",
            {
                type: "GET",
                data:
                {
                    Search: self.filter.search(),
                    SortBy: self.filter.sortBy(),
                    DescSort: self.filter.descSort(),
                    Page: self.filter.page()
                },
                success: function(data)
                {
                    self.users(data.Users);
                    self.numberOfPages(data.NumberOfPages);
                }
            });
        };

        self.sort = function(data, event)
        {
            var sortBy = event.target.textContent;
            if (self.filter.sortBy() === sortBy)
                self.filter.descSort(!self.filter.descSort());
            else
                self.filter.sortBy(sortBy);
            self.getUsers();
        };

        self.getSortSymbol = ko.computed(function()
        {
            if (self.filter.descSort())
                return "\u25BC";
            else
                return "\u25B2";
        });

        self.getUsers();
    }

    $(document).ready(function()
    {
        ko.applyBindings(new UsersViewModel());
    });
</script>

@{
    ViewBag.Title = "Users";
}

<header>
    <div class="container">
        <h1>List of users</h1>
        <hr />

        <div class="row">
            <div class="form-group col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                <label class="control-label">Search</label>
                <div class="input-with-button">
                    <input data-bind="value: filter.search" class="form-control" />
                    <button data-bind="click: function() { filter.page(1); getUsers(); }" class="btn btn-default btn-search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>        
    </div>
</header>

<section class="container">
    <h3 data-bind="visible: !users() || users().length === 0">No users found...</h3>
    
    <div data-bind="visible: users() && users().length != 0">
        <div class="form-inline pull-right" style="margin-bottom: 20px">
            <div class="form-group">
                <label class="control-label">Sort by</label>
                <select data-bind="options: sortingOptions, value: filter.sortBy, event: { change: function() { filter.page(1); getUsers(); } }" class="form-control"></select>
            </div>

            <div class="checkbox">
                <label>
                    <input data-bind="value: filter.descSort, event: { change: function() { filter.descSort(!filter.descSort()); console.log(filter.descSort()); getUsers(); } }" type="checkbox" />
                    Descending order
                </label>
            </div>
        </div>





        <style>
            .user-item:hover {
                background-color: #F5EECD !important;
                cursor: pointer;
                /*border-radius: 10px;*/
                /*outline: 1px solid #E3D179;*/
            }

            .user-item p {
                margin-bottom: 3px;
                /*transition: height 5s;
                -webkit-transition: height 5s;*/
            }

            .user-item .col-xs-5 /*:not(:last-child)*/ {
                border-right: 1px solid lightgray;
            }

            .user-item .cat {
                color: gray;
                font-size: 14px;
                /*font-variant: small-caps;*/
            }

            .user-item .val {
                /*font-weight: bold;*/
                font-size: 14px;
            }
        </style>



        <div data-bind="foreach: users" style="margin-bottom: 20px;">
            <div @*class="col-lg-6"*@>
                <div class="user-item" data-bind="click: function() { document.location.href = '/Users/Edit/' + UserId; }" style="clear: both; box-shadow: gray 0 0 10px; background-color: #F5F5F5; border-radius: 5px; padding:10px; margin-bottom: 10px;">

                    <div><p style="font-size: 20px; margin-bottom: 10px; margin-top: 5px;" data-bind="text: FirstName + ' ' + LastName"></p></div>
                    <div class="row">
                        <div class="col-xs-5">
                            <p><span class="cat">Email:</span> <span class="val" data-bind="text: Email"></span></p>
                            <p><span class="cat">Phone:</span> <span class="val" data-bind="text: Phone"></span></p>
                            <p><span class="cat">Mobile phone:</span> <span class="val" data-bind="text: MobilePhone"></span></p>
                        </div>
                        <div class="col-xs-5">
                            <p><span class="cat">Company:</span> <span class="val" data-bind="text: Company"></span></p>
                            <p><span class="cat">Department:</span> <span class="val" data-bind="text: Department"></span></p>
                            <p><span class="cat">Role:</span> <span class="val" data-bind="text: Role"></span></p>
                        </div>
                        <div class="col-xs-2">
                            <p class="cat">Tickets:</p>
                            <p style="font-size: 34px" data-bind="text: TicketsCount"></p>
                        </div>
                    </div>
                    @*<p>
                            Created at <b data-bind="text: formatDate(CreatedOn)"></b> by
                            <b>
                                <!-- ko if: (CreatedBy) -->
                                <a href="#" data-bind="click: function(data, event) { event.stopPropagation(); document.location.href = '/Users/Edit/' + CreatedById; }, text: CreatedBy"></a>
                                <!-- /ko -->
                                <!-- ko if: (!CreatedBy) -->
                                <span data-bind="visible: !CreatedBy">deleted user</span>
                                <!-- /ko -->
                            </b>
                            for
                            <b>
                                <!-- ko if: (RequestedBy) -->
                                <a href="#" data-bind="click: function(data, event) { event.stopPropagation(); document.location.href = '/Users/Edit/' + RequestedById; }, text: RequestedBy"></a>
                                <!-- /ko -->
                                <!-- ko if: (!RequestedBy) -->
                                <span data-bind="visible: !RequestedBy">deleted user</span>
                                <!-- /ko -->
                            </b>
                        </p>
                        <p>Category: <b data-bind="text: Category ? Category : 'none'"></b></p>
                        <p class="visible-xs">
                            Status: <b data-bind="text: Status, css: { 'status-new': Status == 'New',
                                                                               'status-in-progress': Status == 'In progress',
                                                                               'status-solved': Status == 'Solved',
                                                                               'status-closed': Status == 'Closed' }"></b>
                        </p>
                        <!-- ko if: (AssignedTo) -->
                        <p data-bind="visible: AssignedTo">Assigned to: <b><a href="#" data-bind="click: function(data, event) { event.stopPropagation(); document.location.href = '/Users/Edit/' + AssignedToId; }, text: AssignedTo"></a></b></p>
                        <!-- /ko -->*@
                </div>


            </div>
        </div>


        @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            <a href="#" data-bind="click: sort">First name</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'First name'"></span>
                        </th>
                        <th>
                            <a href="#" data-bind="click: sort">Last name</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Last name'"></span>
                        </th>
                        <th>
                            <a href="#" data-bind="click: sort">Email</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Email'"></span>
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <a href="#" data-bind="click: sort">Phone</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Phone'"></span>
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <a href="#" data-bind="click: sort">Mobile phone</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Mobile phone'"></span>
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <a href="#" data-bind="click: sort">Company</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Company'"></span>
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <a href="#" data-bind="click: sort">Department</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Department'"></span>
                        </th>
                        <th>
                            <a href="#" data-bind="click: sort">Role</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Role'"></span>
                        </th>
                        <th class="ticket-col">
                            <a href="#" data-bind="click: sort">Tickets</a>
                            <span data-bind="text: getSortSymbol, visible: filter.sortBy() === 'Tickets'"></span>
                        </th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: users">
                    <tr data-bind="click: function() { document.location.href = '/Users/Edit/' + UserId; }">
                        <td data-bind="text: FirstName"></td>
                        <td data-bind="text: LastName"></td>
                        <td data-bind="text: Email"></td>
                        <td data-bind="text: Phone" class="hidden-xs hidden-sm"></td>
                        <td data-bind="text: MobilePhone" class="hidden-xs hidden-sm"></td>
                        <td data-bind="text: Company" class="hidden-xs hidden-sm"></td>
                        <td data-bind="text: Department" class="hidden-xs hidden-sm"></td>
                        <td data-bind="text: Role"></td>
                        <td data-bind="text: Tickets" class="ticket-col"></td>
                    </tr>
                </tbody>
            </table>*@

        <!-- ko if: pages().length >= 2 -->
        <ul data-bind="foreach: pages" class="pagination" style="margin: 0;">
            <li data-bind="css: { active: $data == $root.filter.page() }">
                <a data-bind="text: $data, click: function() { $root.filter.page($data); $root.getUsers(); }" href="#"></a>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</section>