<footer>
    <div class="footer-content">
        <div class="footer-element">
            <div class="glyphicon glyphicon-map-marker"></div>
            Ulica 1, Wrocław
        </div>
        <div class="footer-element">
            <div class="glyphicon glyphicon-phone-alt"></div>
            +48 123 456 789
        </div>
        <div class="footer-element">
            <div class="glyphicon glyphicon-envelope"></div>
            <a href="mailto:support@ringnet.com">support@company.com</a>
        </div>
    </div>
</footer>
