@model HelpDesk.UI.ViewModels.Layout.CompanyInfoViewModel

<footer>
    <div class="footer-content">
        <div class="footer-element">
            <div class="glyphicon glyphicon-map-marker"></div>
            @Model.Address
        </div>
        <div class="footer-element">
            <div class="glyphicon glyphicon-phone-alt"></div>
            @Model.Phone
        </div>
        <div class="footer-element">
            <div class="glyphicon glyphicon-envelope"></div>
            <a href="mailto:@Model.Email">@Model.Email</a>
        </div>
    </div>
</footer>
