<footer style="z-index: 1051">
    <div class="footer-content">
        <div class="footer-group">
            <div class="footer-element">
                <span class="glyphicon glyphicon-map-marker"></span>
            </div>
            <div class="footer-element">
                Ulica 1, Wrocław
            </div>
        </div>
        <div class="footer-group">
            <div class="footer-element">
                <span class="glyphicon glyphicon-phone-alt"></span>
            </div>
            <div class="footer-element">
                +48 123 456 789
            </div>
        </div>
        <div class="footer-group">
            <div class="footer-element">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <div class="footer-element">
                <a href="mailto:support@ringnet.com">support@company.com</a>
            </div>
        </div>
    </div>
</footer>
