@using HelpDesk.DAL.Concrete;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using HelpDesk.DAL.Entities;
@using HelpDesk.UI.Infrastructure;

@{
    //UserManager userManager = HttpContext.Current.GetOwinContext().GetUserManager<UserManager>();
    //User currentUser = userManager.FindById(User.Identity.GetUserId());
    IdentityHelper identityHelper = new IdentityHelper();
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(@*userManager.FindById(currentUserId)*@identityHelper.CurrentUser.FirstName + " " + identityHelper.CurrentUser.LastName, "Edit", "Users", new { id = identityHelper.CurrentUser.Id }, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
}