<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyInfo>
    <Address>Address from XML file</Address>
    <Phone>Phone from XML file</Phone>
    <Email>Email from XML file</Email>
  </CompanyInfo>
  <EmailSettings>
    <Name>Ringnet Support Team</Name>
    <Address>kamil.dzierlega@gmail.com</Address>
    <Host>smtp.gmail.com</Host>
    <Port>587</Port>
    <Ssl>true</Ssl>
    <Login>kamil.dzierlega@gmail.com</Login>
    <Password>Metallica-0</Password>
  </EmailSettings>
</Settings>