@model IEnumerable<AppUser>

<div id="assign-user-dialog" class="dialog">    
    <h4>Assign user to ticket <i id="assign-user-title"></i></h4>
    @using (Html.BeginForm("AssignUserToTicket", "Tickets", new { returnUrl = Request.Url.ToString() }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("AssignTicketID")
        <div class="form-group">
            <label class="control-label">User</label>
            @Html.DropDownList(
                name: "AssignUserID",
                selectList: new SelectList(Model.Select(u => new { UserID = u.Id, Name = $"{u.FirstName} {u.LastName}" }), "UserID", "Name", Model.Single(u => u.Email == User.Identity.Name).Id),
                htmlAttributes: new { @class = "form-control" }
            )
        </div>

        <div class="button-group">
            <input type="submit" class="btn btn-blue" value="Ok" />
            <input id="assign-ticket-btn-cancel" type="button" class="btn btn-blue" value="Cancel" />
        </div>
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#assign-user-dialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });

        $("#assign-ticket-btn-cancel").click(function()
        {
            $('#assign-user-dialog').dialog('close');
        });

        $(".assign-user-btn").click(function(e)
        {
            event.stopPropagation();
            $("#AssignTicketID").val(e.target.getAttribute("data-ticket-id"));
            $("#assign-user-title").text(e.target.getAttribute("data-ticket-title"));
            $('#assign-user-dialog').dialog('open');
        });
    });
</script>