<div id="change-requestor-dialog" class="dialog">
    <h4>Change requestor of <i id="change-requestor-title"></i> ticket</h4>

    <div class="form-group">
        <label>Find user by name or email</label>
        <div class="input-with-button">
            <input id="search-requestor-inp" class="form-control" />
            <button id="search-requestor-btn" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>

    <div class="form-group">
        <label>Select user</label>
        <select class="form-control" id="change-requestor-sel">
            <option value="">-</option>
        </select>
        <img id="change-requestor-img" src="http://i.stack.imgur.com/r6tWv.gif" style="display: none" />
    </div>

    <div class="button-group">
        <input id="change-requestor-btn-ok" type="button" class="btn btn-blue" value="Ok" />
        <input id="change-requestor-btn-cancel" type="button" class="btn btn-blue" value="Cancel" />
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $("#change-requestor-dialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });        

        $("#change-requestor-btn").click(function(e)
        {
            $('#change-requestor-dialog').dialog('open');
            $('#change-requestor-title').text(e.target.getAttribute("data-ticket-title"));
        });

        $("#search-requestor-btn").click(function(e)
        {
            var searchString = $("#search-requestor-inp").val();
            if (searchString && searchString.length > 0)
            {
                $("#progress-image").show();
                $.post("/Tickets/FindUsers", { search: searchString }, function(data)
                {
                    $("#change-requestor-sel").html("<option value=''>-</option>");
                    if (data.length > 0)
                    {
                        for (var i = 0; i < data.length; i++)
                        {
                            $("#change-requestor-sel").append("<option value=" + data[i].UserID + ">" + data[i].FirstName + " " + data[i].LastName + " (" + data[i].Email + ")</option>");
                        }
                    }
                    $("#progress-image").hide();
                }, "json");
            }
        });

        $("#change-requestor-btn-ok").click(function()
        {
            $("#RequestedByID").val($("#change-requestor-sel").val());
            $("#change-requestor-inp").val($("#change-requestor-sel > option[value='" + $("#change-requestor-sel").val() + "']").html());
            $("#search-requestor-inp").val("");
            $("#change-requestor-sel").html("<option value=''>-</option>");
            $('#change-requestor-dialog').dialog('close');
        });

        $("#change-requestor-btn-cancel").click(function()
        {
            $('#change-requestor-dialog').dialog('close');
        });
    });
</script>
