<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/HelpDesk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/HelpDesk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HelpDeskContext" Order="1" Enabled="True">
          <Destination Path="Data Source=DESKTOP-BM2RU45;Initial Catalog=HelpDesk;Integrated Security=True" Name="Data Source=DESKTOP-BM2RU45;Initial Catalog=HelpDesk;Integrated Security=True;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HelpDesk.DAL.Concrete.HelpDeskContext, HelpDesk.DAL" MigrationConfiguration="HelpDesk.DAL.Migrations.Configuration, HelpDesk.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HelpDeskContext-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-BM2RU45;Initial Catalog=HelpDesk;Integrated Security=True;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>