<div id="delete-user-dialog" class="dialog">
    <h4>Are you sure you want to delete user <i id="delete-user-name"></i>?</h4>

    @using (Html.BeginForm("Delete", "Users"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="delete-user-id" name="id" />

        <div class="button-group">
            <input type="submit" value="Yes" class="btn btn-blue" />
            <input type="button" value="No" class="btn btn-blue" id="delete-user-btn-no" />
        </div>
    }
</div>

<script>
    $(document).ready(function()
    {
        $("#delete-user-dialog").dialog(
        {
            autoOpen: false,
            modal: true,
            resizable: false
        });
    });

    $(".delete-user-btn").click(function(e)
    {
        $('#delete-user-dialog').dialog('open');
        $('#delete-user-id').val(e.target.getAttribute("data-user-id"));
        $('#delete-user-name').text(e.target.getAttribute("data-user-name"));
    });

    $("#delete-user-btn-no").click(function()
    {
        $('#delete-user-dialog').dialog('close');
    });
</script>