/* ----- navbar ----- */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

 /* ----- header ----- */ 

header {
    background-color: #00ABEC; 
    color: white;
    margin-bottom: 40px;
    text-align: center;
}
header h1 {
    margin: 30px 0;
    text-align: center; 
}

/* ----- search button ----- */

.form-group > div.col-md-8 {
    padding-right: 0;
}
.input-with-button {
    position: relative;
    padding-right: 0;
}
.input-with-button .btn-search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* ----- blue button ----- */

.btn-blue {
    background-color: #428bca; 
    border-color: #428bca; 
}
.btn-blue, .btn-blue:hover, .btn-blue:focus {
    color: white;
}

/* ----- dialog ----- */

.dialog {
    display: none;
}
.dialog > h4 {
    margin: 0 0 20px 0;
    text-align: center;
}
.dialog > h4 > i {
    color: orange;
}
.dialog .button-group {
    text-align: center;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/





/*header hr {
    border-color: #3F95C4; 
    margin: 20px 0 30px; 
    border-top-left-radius: 200px 1px; 
    border-top-right-radius: 200px 1px;
}
#filtering-form {
    margin-bottom: 30px;
}
#filtering-form div {
    display: inline-block;
    vertical-align: top;
}
#filtering-form .form-group {
    vertical-align: top;
    text-align: left;
    width: 270px;
}
#filtering-form .form-group:last-child {
    position: relative;
}
#filtering-form .input-with-button input {
    padding-right: 40px;
}
#filtering-form .input-with-button button {
    position: absolute; 
    right: 0; 
    top: 25px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}
#filtering-form .checkbox {
    margin: 0;
}
.table tr:hover:not(:first-child) {
    background-color: #F5EECD;
    cursor: pointer;
    outline: 1px solid #E3D179;
}
.table .title-header {
    width: 25%;
}
.table .buttons-header {
    width: 200px;
}
.table .btn {
    background-color: #428bca; 
    border-color: #428bca; 
    color: white;*/
    /* #89c402 #EA3819 */
/*}
.alert {
    display: inline-block; 
    position: absolute; 
    top: 70px; 
    right: 20px; 
    z-index: 1001;
}*/