/* ----- body ----- */

.body-content {
    background-color: #F0F0F0;
}

/* ----- navbar ----- */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

 /* ----- header ----- */ 

header {
    background-color: #00ABEC; 
    color: white;
    margin-bottom: 40px;
    padding: 30px 0;
}
header h1 {
    margin: 0;
    text-align: center; 
}
header hr {
    border-color: #3F95C4; 
    margin: 20px 0 30px; 
    border-top-left-radius: 200px 1px; 
    border-top-right-radius: 200px 1px;
}

/* ----- search button ----- */

.form-group > div.col-md-8 {
    padding-right: 0;
    margin-right: 15px;
}
.input-with-button {
    position: relative;
    padding-right: 35px;
}
.input-with-button .btn-search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* ----- blue button ----- */

.btn-blue {
    background-color: #428bca; 
    border-color: #428bca; 
}
.btn-blue, .btn-blue:hover, .btn-blue:focus {
    color: white;
}

/* ----- dialog ----- */

.dialog {
    display: none;
}
.dialog > h4 {
    margin: 0 0 20px 0;
    text-align: center;
}
.dialog > h4 > i {
    color: orange;
}
.dialog .button-group {
    text-align: center;
}

/* ----- success and fail messages ----- */

.alert {
    display: inline-block; 
    position: absolute; 
    right: 20px;
    top: 70px; 
    z-index: 1001;
}

/* ----- filtering form ----- */

#filtering-form .input-with-button + .checkbox {
    margin: 0;
}

/* ----- index table ----- */

.table tr:hover:not(:first-child) {
    background-color: #F5EECD;
    cursor: pointer;
    outline: 1px solid #E3D179;
}
.table td {
    vertical-align: middle !important;
}
.table .btn {
    width: 60px;
    margin-bottom: 4px;
}
.table th:last-child {
    width: 204px;
}
@media (max-width: 1199px) {
    .table th:last-child {
        width: 76px;
    }
}
.status {
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
.status-new {
    background-color: orangered;
}
.status-in-progress {
    background-color: dodgerblue;
}
.status-solved {
    background-color: forestgreen;
}
.status-closed {
    background-color: #555;
}